.navbar {
    background-color:  rgba(7, 14, 27, 0.973);  
    font-family: 'Baloo 2', cursive;
}
footer {
    bottom: 0;
    width: 100%;
    background-color:  rgba(7, 14, 27, 0.973);
    font-family: 'Baloo 2', cursive;
    padding: 15px 0px;
    height: 50px;
}